body{
    background-image:url("img1.webp")
}
*{
    margin: 0;
    padding: 0;
}
.box3{
    display: grid;
    grid-template-columns: repeat(1 );
    grid-template-rows: repeat(7 , 35px);
    row-gap: 20px;
}
.item{
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    color:white;
}
.box1{
    height:50px;
    width:100vw;
    border:2px solid black;
    margin-left: 0;
    text-align:center;
    color:white;
}
.container{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}
#red-image{
    background-color: red;
}
#green-image{
    background-color: green;
}
#blue-image{
    background-color: blue;
}
.c{
    margin-bottom: 50px;
}
.d{
    margin-top: 50px;
}
button{
    margin-top: 50px;
    height: 50px;
    width: 35vw;
    text-align: center;
    /* margin-left: 35vw; */
    background-image: linear-gradient(45deg,red,blue);
}
#text{
    color: red;
}
.e{
    text-align: center;
}
.c{
    color:white;
    text-align: center;
}